:host {
	padding: 0px;
}

:host([read]:not(.invalid):not([empty]):not([draft]))::shadow .unfocused-underline {
	background-color: transparent;
}

#edit, #done {
	padding: 0.5em 0 0.25em .75em;
	min-width: 0px;
	white-space: nowrap;
	box-sizing: border-box;
	overflow: hidden;
	flex-shrink: 0;
}

:host([empty]:not(.invalid)) #edit {
	padding-left: 0px;
}

#mirror {
	position: absolute;
	top: 0px;
	left: 0px;
	visibility: hidden;
	height: 0px;
	display: inline-block;
	overflow: hidden;
}

#paper-input {
	transition: max-width .2s;
	box-sizing: border-box;
}

:host([read]:not(.invalid))::shadow #input {
	text-overflow: ellipsis;
}

:host([read].invalid)::shadow #paper-input, :host([focused])::shadow #paper-input, :host([draft])::shadow #paper-input {
	max-width: 100% !important;
}

