:host {

}

:host([read]:not(.invalid):not([empty]))::shadow .unfocused-underline {
	background-color: transparent;
}

#read {
	padding: 1.25em 0 1em .75em;
	min-width: 0px;
	white-space: nowrap;
	box-sizing: border-box;
	transition: opacity .4s;
	overflow: hidden;
	flex-shrink: 0;
}

:host([empty][read]:not([focused])) #paper-input {
	width: 0px;
}

:host([empty]) #read {
	padding-left: 0px;
}

#paper-input {
	transition: min-width .4s;
	box-sizing: border-box;
}

:host([read]:not(.invalid))::shadow #input {
	text-overflow: ellipsis;
}

:host([read].invalid)::shadow #read, :host([focused])::shadow #read {
	opacity: 0;
	
}

:host([read].invalid)::shadow #paper-input, :host([focused])::shadow #paper-input {
	min-width: 100%;
}