/*:host[inline]:not([focused]) .unfocused-underline {*/
:host([read]:not(.invalid):not([empty]))::shadow .unfocused-underline {
	background-color: transparent;
}

#read {
	visibility: hidden;
}

/*:host([read]:not(.invalid):not([empty]):not([focused]))::shadow #read {*/
:host([read]:not(.invalid):not([focused]))::shadow #read {*/
	visibility: visible;
	padding: 0.5em 0 0.25em;
	max-width: 100%;
	white-space: nowrap;
}

#read .mirror {
	color: transparent;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}